.list {
  list-style: none;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.content__price {
  font-weight: bold;
}

.actions {
  text-align: end;
}
