.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  height: 400px;
  width: 70%;
  background-color: #ede0d4;
  margin: auto;
}
.summary__description {
  font-size: 1.5rem;
  line-height: 2rem;
}
.summary__title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 4rem;
}
